//scss variables
$font-name: "Font Name", Helvetica, sans-serif;
$header-background: rgb(182, 143, 111);
$board-background: rgb(251, 227, 189);
$font: eurostile;
$keyboard-background: rgb(235, 228, 228);
$animation: pulse;
$gradient: linear-gradient(to right, #000000 0%, #694e3f 80%);
$board-border: 0.4vh solid rgb(238, 200, 163);
$capitalize: uppercase;
$bold: 700;


