* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Font Name", Helvetica; 
}

body {
    background-color: rgb(236, 227, 227);
}

#wordle-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 50;
    background: linear-gradient(to right, #0312b6 0%, #741616 100%);
    -webkit-background-clip: text; /* Renders for Safari/Chrome. */
    -moz-background-clip: text; /* Renders for Firefox */
    background-clip: text;
    color: transparent;
    letter-spacing: -3px;
    border-bottom: 1px solid rgb(174, 149, 149);
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid rgb(1, 52, 26);
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid rgb(1, 52, 26);
  }
  
  .letter-row {
    display: flex;
  }

  #keyboard {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .key {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .filled-box {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }